* {
    margin-right: 4px;
}

.navigator {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.45);
}
.navigator:hover {
    color: aliceblue;
}
.navigator:active {
    color: rgb(0, 255, 0);
}

main {
    display: flex;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 50vh;
    flex-direction: row;
    justify-content:right;
    align-items: center;
}

.profilePic {
    width: 25%;
    border:solid rgb(0, 255, 0) 5px;
    border-radius: 50%;
}
    
.name {
    font-family: verdana;
    font-weight: bold;
    font-size: 8vw;
    color: rgb(0, 255, 0);
}

body {
    display: block;
    color: #fff;
    font: normal 16px/24px DINPro-Regular,Sans-Serif,Trebuchet,Helvetica,Arial,sans-serif;
    background-color: #252525;
}

.aboutMe {
    display: flex;
    margin-left: 4vw;
    margin-right: 4vw;
}



.id {
    background-color: lightslategray;
    color: rgb(0, 255, 0);
}

.link-imgs {
    width: 50px;
}

footer {
    display: inline;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
    position: relative;
}

#button {
    background-color: #252525;
    color: rgb(255, 255, 255);
    border: 2px solid #4CAF50;
    font-family: normal 16px/24px DINPro-Regular,Sans-Serif,Trebuchet,Helvetica,Arial,sans-serif;
    font-weight: bold;
    padding: 4px 50px;
    border-radius: 12px;
}
#button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
#button:active {
    color: rgb(0, 255, 0);
}